

.sessions-expandable {
    margin-top: 1rem;
    font-size: 1rem;
    display: flex;
    width: 80%;
    min-height: 20vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(218, 218, 218);
    background-color: white;
    transition: min-height 0.3s ease-in-out;
  
  }

  .sessions-expandable.expanded {
    min-height: 30vh;
    max-height: 90vh;
    transition: min-height 0.3s ease-in-out;

  }

  .expanded-session-content{
      height: auto;
      width: 90%;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 60vh;
      align-items:flex-start;
      text-align: center;
      overflow-y: auto;
  }

  #exercise-item{
      text-align: left;
      width: 100%;
      display: flex;
      align-items:flex-start;
      flex-direction: column;
      padding-bottom:0.5rem;
  }

  #exercise-name{
    font-size: 1rem;
      font-weight: 500;
      color: rgb(71, 70, 70);
  }
  #exercise-comment{
    font-style: italic;
    font-size: 0.8rem;
    color: rgb(37, 37, 37);
  }


  .session-brief-wrapper{
    width:100%;
    margin-top: 2rem;
  }
  .slider-input {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 75%; /* Full-width */
    height: 0.1rem; /* Specified height */
    background: linear-gradient(to right, rgb(255, 255, 255) 40%, rgb(0, 255, 0)) ;
    outline: none; /* Remove outline */
    transition: opacity .2s;
  }

  .slider-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    background: rgb(4, 52, 85);
    cursor: pointer; 
  }

  .session-brief-slider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .submit-session {
    margin-top: 2rem;
  }


  .submit-button{
    height: 2.5rem;
    width:10rem;
    border-radius: 10px;
    border:none;
    background-color: green;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }